* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #333;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 1000;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #1e90ff;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 40px; /* Optional: space between text and photo */
}

.text {
  flex: 1;
}

.foto {
  flex: 1;
  text-align: right;
}

.fotomij {
  max-width: 65%;
  height: auto;
  border-radius: 8px; /* Optional: for rounded corners */
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .foto {
    text-align: center;
  }
}

